<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="static\css\Iletisim.css">

    <title>Data Manipulation</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="index.html" class="nav__logo">
                    <i class="ri-planet-line"></i> Data Manipulation
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            
                    <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="index.html" class="nav__link">Ana Sayfa</a></li>

                    <li><a href="hakkımızda.html" class="nav__link">Hakkımızda</a></li>

                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Sosyal Medya <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a target="_blank" href="https://www.instagram.com/elonmusk/" class="dropdown__link">
                                    <i class="ri-pie-chart-line"></i> İnstagram
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="https://www.facebook.com/groups/358990842346486/?hoisted_section_header_type=recently_seen&multi_permalinks=1202009244711304"     class="dropdown__link">
                                    <i class="ri-arrow-up-down-line"></i> Facebook
                                </a>
                            </li>

                            <!--=============== DROPDOWN SUBMENU ===============-->
                            <li class="dropdown__subitem">
                                <a target="_blank" href="https://x.com/elonmusk">
                                <div class="dropdown__link">
                                    <i class="ri-bar-chart-line"></i> Twitter/X 
                                </div>
                            </a>
                               
                            </li>
                        </ul>
                    </li>



                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Kullanıcı <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Profil
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i>  Hesaplar
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Bildirimler
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#" class="nav__link">İletişim</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script src="{{ url_for('static', filename='scripts/Iletisim.js') }}"></script>       
</body>

</html>