<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Document</title>
    
</head>
<body>
  
    <div class="grid grid-cols-12 gap-4 min-h-screen">

      {% include "sidebar.html" %}
  
      <div id = 'mainContent' class="col-span-11 p-4">
        <div class="grid grid-cols-2 gap-1">
          <div class="bg-blue-500 h-32">01</div>
          <div class="bg-green-500 h-32">02</div>
          <div class="bg-red-500 h-32">03</div>
          <div class="bg-yellow-500 h-32">04</div>
        </div>
      </div>
    </div>
      <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>       
</body>

</html>