<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="static\css\style.css">

    <title>Data Manipulation</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="index.html" class="nav__logo">
                    <i class="ri-planet-line"></i> Data Manipulation
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="/" class="nav__link">Ana Sayfa</a></li>

                    <li><a href="/hakkimizda" class="nav__link">Hakkımızda</a></li>

                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Sosyal Medya <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a target="_blank" href="https://www.instagram.com/elonmusk/" class="dropdown__link">
                                    <i class="ri-pie-chart-line"></i> İnstagram
                                </a>
                            </li>

                            <li>
                                <a target="_blank"
                                    href="https://www.facebook.com/groups/358990842346486/?hoisted_section_header_type=recently_seen&multi_permalinks=1202009244711304"
                                    class="dropdown__link">
                                    <i class="ri-arrow-up-down-line"></i> Facebook
                                </a>
                            </li>

                            <!--=============== DROPDOWN SUBMENU ===============-->
                            <li class="dropdown__subitem">
                                <a target="_blank" href="https://x.com/elonmusk">
                                    <div class="dropdown__link">
                                        <i class="ri-bar-chart-line"></i> Twitter/X
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>



                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Kullanıcı <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Profil
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Hesaplar
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Bildirimler
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/Iletisim" class="nav__link">İletişim</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <div class="x">
            <h1>Nasıl Çalışır ?</h1><br>
            <video controls autoplay muted loop>
                <source src="static\media\dikiş makinesi.mp4">
            </video>
            <div class="box">
                <div class="box-1">
                    <button id="glowButton">Dosya Yükle</button>
                </div>
                <input type="file" id="hiddenFileInput" style="display: none;" />
                <div class="box-2">
                    <button id="glowButton"> Esk Projeyi Görüntülemek İçin Tıkla </button>
                </div>
            </div>
        </div>

        <div class="iframe-container">
            <iframe class="border rounded-lg shadow-md"></iframe>
        </div>

        <div class="dependent-dropdowns">
            <div class="dropdown-group">
                <select id="dropdown1" class="custom-dropdown">
                    <option value="">Birinci Seçim</option>
                    <option value="Simple">Simple</option>
                    <option value="Distributions">Distributions</option>
                    <option value="3D">3D</option>
                    <option value="Maps">Maps</option>
                    <option value="Finance">Finance</option>
                    <option value="Specialized">Specialized</option>
                </select>

                <select id="dropdown2" class="custom-dropdown" disabled>
                    <option value="">İkinci Seçim</option>
                </select>

                <select id="dropdown3" class="custom-dropdown" disabled>
                    <option value="">Üçüncü Seçim</option>
                </select>

                <select id="dropdown4" class="custom-dropdown" disabled>
                    <option value="">Dördüncü Seçim</option>
                </select>

                <input type="text" id="customValue" class="custom-textbox" placeholder="Değer giriniz...">
            </div>
            
            <div class="run-button-container">
                <button class="run-button">Çalıştır</button>
            </div>
        </div>

        
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>